<html>
  <head>
    <meta charset="UTF-8">
    <title>Ceros Ski</title>
  </head>
  <body>

    <div id="gameContent">

        <div class="gameInfo" style="width:300px; padding:16px; border:2px solid teal; height: 100vh; position: absolute; top:0; right: 0;">
        
          <div id="status">

            <h4><b>Score: </b> <b id="score"></b></h4>

            <h4><b>Life: </b> <b id="skierLifeCount"></b></h4>

            <h4><b>Status: </b> <b id="gameStatus"></b></h4>

            <h3><b>PRESS:</b></h3>
            
            <p><b>Down Arrow:</b>key move down or start the game</p>
            
            <p><b>F:</b> key to double skier's speed</p>
            
            <p><b>J:</b> key to jump over rocks<br></p>
           
            <p><b>R:</b> key to Reset/Restart the game <br></p>
           
            <p><b>Space bar:</b> key to pause or resume game</p>
          
          </div>

        </div>

    </div>

</html>